[submodule "IMDb-PHP-API"]
	path = IMDb-PHP-API
	url = https://github.com/chrisjp/IMDb-PHP-API.git
[submodule "php-jenkins-template"]
	path = php-jenkins-template
	url = https://github.com/sebastianbergmann/php-jenkins-template.git
