<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
    <testsuites>
        <testsuite name="Markup Data">
            <file>Tests/Markup_DataSuite.php</file>
        </testsuite>
        <testsuite name="Movie Datasource">
            <file>Tests/Movie_DatasourceSuite.php</file>
        </testsuite>
        <testsuite name="Tag Processing">
            <file>Tests/Tag_ProcessingSuite.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage" title="imdb-markup-syntax"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml"
             logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <file>imdb-markup-syntax.php</file>
                <directory suffix=".php">Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
