<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true">
    <testsuites>
        <testsuite name="All tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>.</includePath>
        <includePath>/Library/WebServer/Documents</includePath>
    </php>
</phpunit>